<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="company_input">
	<div th:if="${search != null}" class="col-md-12">
		<div id="quote-control" class="panel panel-default">
			<div class="panel-body">
				<form class="form-inline" action="#" th:action="@{/analytics}" method="post"
					th:object="${search}">
					<div class="form-group">
						<input id="quote-input" type="text" maxlength="20" th:field="*{name}"
							style="width: 300px;" placeholder="EnterSymbol" />
					</div>
					&nbsp;
					<button type="submit" class="btn btn-success">Get Trades Matching Symbol</button>
				</form>
			</div>
		</div>
	</div>
</th:block>

<div th:if="${trades != null}" th:fragment="trade_listing" class="row clearfix" th:remove="tag">
	<div class="col-md-12">
		<div class="panel panel-default panel-with-min-width">
			<div class="panel-heading">
				<h3 class="panel-title">List of Trades Matching Symbol</h3>
			</div>
			<div class="panel-body">
				<table id="list-of-holdings"
					   class="table table-striped table-bordered table-condensed text-center">
					<thead>
					<tr>
						<th class="text-center">Order Id</th>
						<th class="text-center">Symbol</th>
						<th class="text-center">Quantity</th>
						<th class="text-center">Price</th>
						<th class="text-center">Completion Date</th>
						<th class="text-center">User Id</th>
						<th class="text-center">Account Id</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="entry : ${trades}">
						<td th:text="${entry.orderid}">orderid</td>
						<td th:text="${entry.symbol}">symbol</td>
						<td th:text="${entry.quantity}">quantity</td>
						<td th:text="${entry.price}">price</td>
						<td th:text="${entry.completiondate}">completiondate</td>
						<td th:text="${entry.userid}">userid</td>
						<td th:text="${entry.accountid}">accountid</td>
					</tr>
					</tbody>
				</table>
				<div id="no-holdings"></div>
			</div>
		</div>
	</div>
</div>


</html>
