<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="quote_attribution">
    <hr/>
    <p class="font-size:small">
        Data provided for free by IEX. View
        <a href="https://iextrading.com/api-exhibit-a/" target="_blank">IEX's Terms of Use</a>.
        All price quotes leverage
        <a href="https://iextrading.com/developer" target="_blank">IEX's Real-Time Price</a>
    </p>
</th:block>


</html>